<div class="row">
    <!-- Left Column: TitleBar, Reprisning, and KoncernDetails -->
    <div class="col">
        <div class="mb-3">
            <TitleBar />
        </div>

        <div class="mb-5">
            <Reprisning />
        </div>

        <KoncernDetails />
    </div>

   
    <!-- Right Column: NewTitleBar and Card Component -->
    <div class="col-md-4">
        <!-- New TitleBar -->
        <div class="mb-3">
            <BevlillingsTitleBar /> <!-- Replace with the actual component name for the new title bar -->
        </div>

        <!-- Card Component -->
        <Overview />
    </div>
</div>