@using Pricetool.Models;
@using Pricetool.UI.Buttons
@using Radzen.Blazor
@inject             Models.DialogServices MyDialogService




<div class="d-flex justify-content-between align-items-right">
    <div class="h3 mb-0">Beregninger of Simuleringer</div>
    <div class="d-flex align-items-center">
        <IconButton Text="NYT PRODUKT" Icon="add" OnClick="@OpenSideDialog" />
        <IconButton Text="RE-PRISNING" Icon="add" OnClick="@OnInitialized"/>
        <IconButton Text="RATING SIMULERING" Icon="add" OnClick="@OnInitialized"/>

    </div>
</div>







@code {
   
    async Task OpenSideDialog()
    {

        await MyDialogService.OpenSideAsyncDialog<NytProdukt>("");
        
    }


}
