<h3>BevillingerComponent</h3>

<p>Content for BEVILLINGER.</p>
<RadzenButton Shade="Shade.Lighter"  Text="Primary" ButtonStyle="ButtonStyle.Primary" />
<RadzenButton Shade="Shade.Lighter"  Text="Primary" ButtonStyle="ButtonStyle.Primary" />
<RadzenButton Shade="Shade.Lighter"  Text="Primary" ButtonStyle="ButtonStyle.Primary" />
<RadzenButton Shade="Shade.Lighter"  Text="Primary" ButtonStyle="ButtonStyle.Primary" />




@code {
    
}