@inherits LayoutComponentBase

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<div class="main">
    <header>
    <div class="sidebar">
        <NavMenu />
    </div>
    </header>
       

    <div>
        <SearchCustomer />
    </div>  
       

        <div class="content px-4">
            @Body
        </div>

    <footer>
        <Footer />
    </footer>
       
</div>

     
   

